<mat-card>
  <mat-card-header>
    <mat-card-subtitle>Najbolje ocenjena recenzija</mat-card-subtitle>
    <mat-card-title>Moja recenzija</mat-card-title>
  </mat-card-header>
  <mat-card-actions>
    <div class="flex space-x-4">
      <button
        mat-mini-fab
        matTooltip="Primary"
        color="primary"
        aria-label="Example mini fab with a heart icon"
      >
        <mat-icon>Fmb_up</mat-icon>
      </button>

      <span
        [ngClass]="[
          {
            'text-green-500': likes > 0,
            'text-red-500': likes < 0,
            'text-gray-500': likes === 0
          },
          'text-2xl'
        ]"
        >{{ likes }}</span
      >
      <button
        mat-mini-fab
        matTooltip="Primary"
        color="warn"
        aria-label="Example mini fab with a heart icon"
      >
        <mat-icon>thumb_down</mat-icon>
      </button>
    </div>
  </mat-card-actions>
</mat-card>
